<div class="container-fluid" >
  <div class="row justify-content-center mt-3">
    <h1 class="page-title">Santa's Gift List</h1>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-3">
      <nav data-controller="nav" class="nav nav-pills justify-content-between">
        <a data-target="nav.link"
           data-action="nav#toggleActive"
           class="nav-item nav-link active btn btn-outline-success"
           href=<%= recipients_path(nice: 1) %>>Nice</a>
        <a data-target="nav.link"
           data-action="nav#toggleActive"
           class="nav-item nav-link btn btn-outline-danger"
           href=<%= recipients_path(nice: 0) %>>Naughty</a>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center">
    <div data-controller="gift-list"
         data-action="navSwitch@document->gift-list#handleNavSwitch"
         data-gift-list-base-path="<%= recipients_path %>"
         data-gift-list-nice="1"
         data-gift-list-sort-by="last_name"
         data-gift-list-order="asc"
         class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"
                data-action="click->gift-list#sort"
                data-target="gift-list.header"
                data-sort-by="last_name"
                aria-sort="ascending">
              <div>
                <span>Name</span>
                <span class="sort-icons"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></span>
              </div>
            </th>
            <th scope="col"
                data-action="click->gift-list#sort"
                data-target="gift-list.header"
                data-sort-by="age"
                aria-sort="none">
              <div>
                <span>Age</span>
                <span class="sort-icons"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></span>
              </div>
            </th>
            <th scope="col"
                data-action="click->gift-list#sort"
                data-target="gift-list.header"
                data-sort-by="gifts.name"
                aria-sort="none">
              <div>
                <span>Gift</span>
                <span class="sort-icons"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></span>
              </div>
            </th>
            <th scope="col"
                data-action="click->gift-list#sort"
                data-target="gift-list.header"
                data-sort-by="city"
                aria-sort="none">
              <div>
                <span>City</span>
                <span class="sort-icons"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></span>
              </div>
            </th>
            <th scope="col"
                data-action="click->gift-list#sort"
                data-target="gift-list.header"
                data-sort-by="country"
                aria-sort="none">
              <div>
                <span>Country</span>
                <span class="sort-icons"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody data-target="gift-list.container"></tbody>
      </table>
    </div>
  </div>
</div>